<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fixed-slot-placement="before">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item [button]="true" *ngFor="let student of students; let index">
      <ion-avatar slot="start">
        <img
          [src]="'https://picsum.photos/80/80?random=' + index"
          alt="avatar"
        />
      </ion-avatar>
      <ion-label>{{ student.name }}</ion-label>
      <!-- delete button -->
      <ion-button fill="clear" (click)="presentAlertDelete(student.id)" slot="end">
        <ion-icon color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
