<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="students">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Students</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="flash"></ion-icon>
      <ion-label>contact</ion-label>
    </ion-tab-button>

    <!-- <ion-fab>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </ion-tab-bar>
</ion-tabs>
